<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">eCommerce Extension to Display Stock Info</h2>
            <h3 class="oe_slogan">Also Validates while adding products to Cart.</h3>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Display Stock of Products</h2>
        <h3 class="oe_slogan"></h3>
        <div >
            <img class="oe_picture oe_screenshot" src="web_pos2.png"/>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                When you Check "Product STock Label" under Customize, system shall display Quantity Available with UOM if configured at the Top of the Product Image.
		    </p><p>
				If Available Stock is Zero, then system displays as SOLD OUT.
            </p>  
        </div>
        
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Display Stock based on Variant</h2>
        <h3 class="oe_slogan"></h3>
        <div >
            <img class="oe_picture oe_screenshot" src="web_pos3.png"/>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                When user checks the "Product Stock Available" under Customize in Add a Product to Stock Page, system displays the product Stock Information.
            </p><p>
                Based on selected Variant Stock Information shall be changed. If stock is not Available then, SOLD OUT shall be displayed and Add to Cart button shall be Disabled.
            </p>
        </div>
        
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Validate while adding to Cart</h2>
        <h3 class="oe_slogan"></h3>
        <div >
            <img class="oe_picture oe_screenshot" src="web_pos6.png">
        </div>
        <div class="oe_span6">
           <p class='oe_mt32'>
                Error Warning shall be displayed and Add to Cart button shall be Disabled, while Adding to Cart more than Available.
            </p><p>
                and While Already some Products are Added and Trying to Add more than Available.
		    </p><p>
                In Shipping Cart Page Error Warning shall be displayed and Process Checkout button shall be Disabled, while adding more than Available.
           </p>
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Display Stock Based on Selected Variant</h2>  </div>      
        <div>
            <img class="oe_picture oe_screenshot" src="web_pos4.png">
        </div>
   	<div>
            <img class="oe_picture oe_screenshot" src="web_pos5.png">
        </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Various Error Messages</h2>  </div>      
        <div>
            <img class="oe_picture oe_screenshot" src="web_pos7.png">
        </div>
   	<div>
            <img class="oe_picture oe_screenshot" src="web_pos8.png">
        </div>
        <div>
            <img class="oe_picture oe_screenshot" src="web_pos9.png">
        </div>
        <div>
            <img class="oe_picture oe_screenshot" src="web_pos10.png">
        </div>
</section>

