@charset "utf-8";
/* ---- Default Styles ---- */
/*
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
*/
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltipt:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
a.disabled { color:gray; }
a.difuse { 
     cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
  pointer-events: none; 
}

